/* Added code */
.bitkit-diff-wrapper-diff .line-wrapper.type-add {
    background-color: #e4fee0 !important;
}

/* Added code, highlighted */
.bitkit-diff-wrapper-diff .code-component ins {
    background-color: #acf09e !important;
}

/* Removed code */
.bitkit-diff-wrapper-diff .line-wrapper.type-del {
    background-color: #fbe9e9 !important;
}

/* Removed code, highlighted */
.bitkit-diff-wrapper-diff .code-component del {
    background-color: #f4b9bb !important;
}

/* Folder buttons in the file tree */
/* 
    css-16ojms1 - expanded folder
    css-1ezif6n - collapsed folder
 */
.css-16ojms1, .css-1ezif6n {
    color: #5e6c84 !important;
}
